body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.container {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-cog {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}

#gear {
  width: 64px;
  height: 64px;
  flex: 0 0 auto;
  animation-name: spinner;
  animation-duration: 4.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#gear svg {
  display: block;
  margin: auto;
}

@keyframes spinner {
  0% {
    transform: rotate(0.1deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.textbox {
  flex: 1 1 auto;
  overflow-wrap: break-word;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: justify;
  flex: 1 1 auto;
  padding: 0px;
  margin: 0px;
  line-height: 0.95;
}

.funtext {
  animation:
    fadein 1s ease 0s 1 normal forwards,
    arrive 5s ease 0s 1 normal forwards;
}

@keyframes fadein {
  0% {opacity:0;}
  8% {opacity:1;}
  100% {opacity:1;}
}

@keyframes arrive {
  0%   { margin-left:-800px; }
  3%   { margin-left:-800px; }
  12%  { margin-left:40px;  }
  15%  { margin-left:-30px;  }
  17%  { margin-left:5px;   }
  18%  { margin-left:-2px;   }
  19%  { margin-left:0px;    }
  100% { margin-left:0px;    }
}