.asym-panel {
  border-radius: 5px 5px 12px 12px !important;
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding !important;
  background-clip: padding-box !important;
}

.mild-round {
  border-radius: 10px !important;
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding !important;
  background-clip: padding-box !important;
}


img.plain {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  margin: none !important;
  position: relative !important;
}

.border-grad {
  box-shadow: -2px -2px 8px rgba(94, 94, 99, 0.308) inset, 2px 2px 5px
   rgba(105, 105, 105, 0.794) inset !important;
}

.border-grad-inv {
  box-shadow: -4px -4px 8px rgba(182, 182, 182, 0.103) inset, 
  6px 6px 8px rgba(255, 255, 255, 0.281) inset !important;
}

.transparent-panel-50 {
  opacity: 0.5 !important;
}

.transparent-panel-85 {
  opacity: 0.85 !important;
}

.iris-btn {
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.iris-btn-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.iris-btn-raised:active {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4) !important;
}

.iris-btn-ripple {
  
}

.iris-btn-ripple:after {
  content: "" !important;
  left: 50% !important;
  top: 50% !important;
  width: 120px !important;
  height: 120px !important;
  margin-left: -60px !important;
  margin-top: -60px !important;
  background: rgba(255, 255, 255, 0.3) !important;
  border-radius: 100% !important;
  transform: scale(0) !important;
}

@keyframes iris-btn-ripple {
  0% {
    transform: scale(0) !important;
  }
  20% {
    transform: scale(1) !important;
  }
  100% {
    opacity: 0 !important;
    transform: scale(1) !important;
  }
}

.iris-btn-ripple:not(:active):after {
  animation: iris-btn-ripple 0.6s ease-out !important;
}

.iris-btn-ripple:after {
  visibility: hidden !important;
}

.iris-btn-ripple:focus:after {
  visibility: visible !important;
}

/* override grid layout transparency  for 2020b */
.gbtWidget.gbtGrid {
  background-color: transparent !important;
}
