.metal {
  /* located at: https://fivera.net/css3-pattern-examples-live-editable-showcase/ */
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px !important;
  background-color: #282828 !important;
  background-size: 16px 16px !important;
}

.blocks {
  background-color: #adcad8 !important;
  background: linear-gradient(135deg, transparent 49.5%, #aac6d4 49.5%, #b3d0de 50%, #aac6d4 50.5%, transparent 50.5%) 0 0, /* line */
  linear-gradient(45deg, transparent 49.5%, #aac6d4 49.5%, #b3d0de 50%, #aac6d4 50.5%, transparent 50.5%) 0 0, /* line */
  linear-gradient(135deg, transparent 75%, #adcad8 75%) 100px 0, /* triangle */
  linear-gradient(135deg, transparent 75%, #adcad8 75%) 0 100px, /* triangle */
  linear-gradient(225deg, transparent 75%, #adcad8 75%) 0 100px, /* triangle */646
  linear-gradient(225deg, transparent 75%, #adcad8 75%) 100px 0, /* triangle */
  linear-gradient(to bottom, #adcad8 0%, #aac6d4 90%) 0 0 !important;
  /* background gradient */
  background-size: 200px 200px, 200px 200px, 200px 200px, 200px 200px, 200px 200px, 200px 200px, 200px 100px !important;
}

.weave {
  background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
    linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753 !important;
    background-size: 18px 18px !important;
}

.cubey {
  background-color: #556 !important;
  background-image: 
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), 
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), 
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), 
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), 
  linear-gradient(60deg, rgb(142, 142, 156) 25%, transparent 25.5%, transparent 75%, rgb(142, 142, 156) 75%, rgb(142, 142, 156)), 
  linear-gradient(60deg, rgb(142, 142, 156) 25%, transparent 25.5%, transparent 75%, rgb(142, 142, 156) 75%, rgb(142, 142, 156)) !important;
  background-size: 40px 70px !important;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px !important;
}

.honeycomb {
  background:
  radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
  linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1 !important;
  background-size:40px 60px !important;
}

.bluehoney {
  border-radius: 15px 5px 5px 15px !important;
  background:
  radial-gradient(circle farthest-side at 0% 50%,rgba(17,119,187,0.3) 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,rgba(19,65,52,0.5) 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(rgba(17,119,187,0.3) 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,rgba(17,119,187,0.3) 0)0 0,
  linear-gradient(150deg,rgba(17,119,187,0.3) 24%,rgba(19,65,52,0.5) 0,rgba(19,65,52,0.5) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(19,65,52,0.5) 0,rgba(19,65,52,0.5) 76%,rgba(17,119,187,0.3) 0)0 0,
  linear-gradient(30deg,rgba(17,119,187,0.3) 24%,rgba(19,65,52,0.5) 0,rgba(19,65,52,0.5) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(19,65,52,0.5) 0,rgba(19,65,52,0.5) 76%,rgba(17,119,187,0.3) 0)0 0,
  linear-gradient(90deg,rgba(19,65,52,0.5) 2%,rgba(17,119,187,0.3) 0,rgba(17,119,187,0.3) 98%,rgba(19,65,52,0.5) 0%)0 0 rgba(17,119,187,0.3) !important;
  background-size:40px 60px !important;
}

.carbon {
  background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424) !important;
background-color: #131313 !important;
background-size: 20px 20px !important;
}


.light-hash {
  background:
  radial-gradient(white 15%, transparent 6%) 0 0,
  radial-gradient(white 15%, transparent 6%) 4px 4px,
  radial-gradient(rgba(259,259,259,.1) 15%, transparent 20%) 0 .5px,
  radial-gradient(rgba(259,259,259,.1) 15%, transparent 20%) 4px 4px !important;
  background-color:#e8e8e8 !important;
  background-size:8px 8px !important;
}


.diamond-plate {
  display: block !important;
  position: relative !important;
  background-color: rgba(150, 150, 150, 1) !important;
  background-image:

  /*Masks*/
  linear-gradient(144deg, rgba(150,150,150,1) 26px, transparent 27px),
  linear-gradient(-34deg, rgba(150,150,150,1) 25px, transparent 26px),

  /*Forward slant Angled Diamond Upper Half*/
  linear-gradient(132deg, rgba(200,200,200, 1) 26px, transparent 27px),
  linear-gradient(128deg, rgba(200,200,200, 0.7) 26px, transparent 27px),

  /*Forward slant Angled Diamond Lower Half*/
  linear-gradient(-41deg, rgba(200,200,200, 1) 27px, transparent 28px),
  linear-gradient(-52deg, rgba(200,200,200, 1) 27px, transparent 28px),

  /*Masks*/
  linear-gradient(-125deg, rgba(150,150,150,1) 26px, transparent 27px),
  linear-gradient(55deg, rgba(150,150,150,1) 25px, transparent 26px),

  /*Backward Slant Angled Diamond Lower Half*/
  linear-gradient(-132deg, rgba(200,200,200, 1) 26px, transparent 27px),
  linear-gradient(-141deg, rgba(200,200,200, 1) 26px, transparent 27px),

  /*Backward Slant Angled Diamond Upper Half*/
  linear-gradient(42deg, rgb(211, 211, 211) 27px, transparent 28px),
  linear-gradient(38deg, rgba(200,200,200, 0.5) 27px, transparent 28px)

 !important;

  background-size:
  100px 100px !important;
  
  background-position:
  -16px 9px, -13px -11px,
  -13px 13px, -13px 16px,
  -13px -11px, -13px -16px,
  -23px -1px, -3px -1px, 
  -26px -1px, -30px -1px,
  -2px -1px, 1px -1px
 !important;

  background-repeat:repeat !important;
}

.paper-back {
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 79px, rgb(171,206,212) 79px, rgb(171,206,212) 81px, rgba(0,0,0,0) 81px), -webkit-linear-gradient(90deg, rgb(238,238,238) 0.1em, rgba(0,0,0,0) 0.1em), rgb(255, 255, 255) !important;
  background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 79px, rgb(171,206,212) 79px, rgb(171,206,212) 81px, rgba(0,0,0,0) 81px), -moz-linear-gradient(0deg, rgb(238,238,238) 0.1em, rgba(0,0,0,0) 0.1em), rgb(255, 255, 255) !important;
  background: linear-gradient(90deg, rgba(0,0,0,0) 79px, rgb(171,206,212) 79px, rgb(171,206,212) 81px, rgba(0,0,0,0) 81px), linear-gradient(0deg, rgb(238,238,238) 0.1em, rgba(0,0,0,0) 0.1em), rgb(255, 255, 255) !important;
  background-position: auto auto !important;
  -webkit-background-origin: padding-box !important;
  background-origin: padding-box !important;
  -webkit-background-clip: border-box !important;
  background-clip: border-box !important;
  -webkit-background-size: 100% 1.2em !important;
  background-size: 100% 1.2em !important;
}


.seigiaha {
  background-color:silver !important;
  background-image: 
  radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent) !important;
  background-size:100px 50px !important;
}

.light-horiz-stripe {
	background-color: #efefef !important;
	background-image:
		-webkit-linear-gradient(0, rgba(222,213,108,.07) 50%, transparent 50%),
		-webkit-linear-gradient(0, rgba(201,184,88,.13) 50%, transparent 50%),
		-webkit-linear-gradient(0, transparent 50%, rgba(168,137,73,.17) 50%),
		-webkit-linear-gradient(0, transparent 50%, rgba(99,78,60,.19) 50%) !important;
	background-image:
		-moz-linear-gradient(0, rgba(222,213,108,.07) 50%, transparent 50%),
		-moz-linear-gradient(0, transparent 50%, rgba(201,184,88,.13) 50%),
		-moz-linear-gradient(0, rgba(168,137,73,.17) 50%, transparent 50%),
		-moz-linear-gradient(0, transparent 50%, rgba(99,78,60,.19) 50%) !important;
	background-image:
		-o-linear-gradient(0, rgba(222,213,108,.07) 50%, transparent 50%),
		-o-linear-gradient(0, transparent 50%, rgba(201,184,88,.13) 50%),
		-o-linear-gradient(0, transparent 50%, rgba(168,137,73,.17) 50%),
		-o-linear-gradient(0, rgba(99,78,60,.19) 50%, transparent 50%) !important;
	background-image:
		linear-gradient(0, rgba(222,213,108,.07) 50%, transparent 50%),
		linear-gradient(0, rgba(201,184,88,.13) 50%, transparent 50%),
		linear-gradient(0, rgba(168,137,73,.17) 50%, transparent 50%),
		linear-gradient(0, transparent 50%, rgba(99,78,60,.19) 50%) !important;
}

.blue-horiz-stripe {
	background-color: #c4e7eb !important;
	background-image:
		-webkit-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
		-webkit-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
		-webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
		-webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%) !important;
	background-image:
		-moz-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
		-moz-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
		-moz-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
		-moz-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%) !important;
	background-image:
		-o-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
		-o-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
		-o-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
		-o-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%) !important;
	background-image:
		linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
		linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
		linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
		linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%) !important;
}

.green-horiz-stripe {
	background-color: rgba(205, 207, 183, 0.22) !important;
	background-image:
		-webkit-linear-gradient(0, rgba(239,255,210,.13) 50%, transparent 50%),
		-webkit-linear-gradient(0, rgba(189,198,102,.19) 50%, transparent 50%),
		-webkit-linear-gradient(0, transparent 50%, rgba(35,139,124,.29) 50%),
		-webkit-linear-gradient(0, transparent 50%, rgba(66,77,69,.43) 50%) !important;
	background-image:
		-moz-linear-gradient(0, rgba(239,255,210,.13) 50%, transparent 50%),
		-moz-linear-gradient(0, rgba(189,198,102,.19) 50%, transparent 50%),
		-moz-linear-gradient(0, transparent 50%, rgba(35,139,124,.29) 50%),
		-moz-linear-gradient(0, transparent 50%, rgba(66,77,69,.43) 50%) !important;
	background-image:
		-o-linear-gradient(0, rgba(239,255,210,.13) 50%, transparent 50%),
		-o-linear-gradient(0, rgba(189,198,102,.19) 50%, transparent 50%),
		-o-linear-gradient(0, transparent 50%, rgba(35,139,124,.29) 50%),
		-o-linear-gradient(0, transparent 50%, rgba(66,77,69,.43) 50%) !important;
	background-image:
		linear-gradient(0, rgba(239,255,210,.13) 50%, transparent 50%),
		linear-gradient(0, rgba(189,198,102,.19) 50%, transparent 50%),
		linear-gradient(0, transparent 50%, rgba(35,139,124,.29) 50%),
		linear-gradient(0, transparent 50%, rgba(66,77,69,.43) 50%) !important;
}

.iris-grad {
  height: 100% !important;
  background: radial-gradient(ellipse at top left, #aacced 0%, #111318 100%) !important;
}

.transparent {
  background: transparent !important;
  background-color: transparent !important;
}
