
.fa-cog {
  width:60px !important;
  height:60px !important;
  margin: 0 !important;
  padding: 0 !important;
}

#gear {
  width: 60px;
  height: 60px;
  margin: 2px;
  overflow: visible;
  animation-name: spinner;
  animation-duration: 4.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
  transform-origin: 50% 50%;
}
#gear svg {
  display: block;
  margin: auto;
}

@keyframes spinner {
  0% {
    transform: rotate(0.1deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reflow {
  display: inline-block !important;
  left: 0 !important;
  right: 0 !important;
  max-height: 100% !important;
}

.reflow span {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  width: 50% !important;
  height: auto !important;
}

.funtext {
  animation:
    fadein 1s ease 0s 1 normal forwards,
    arrive 5s ease 0s 1 normal forwards;
}

@keyframes fadein {
  0% {opacity:0;}
  8% {opacity:1;}
  100% {opacity:1;}
}

@keyframes arrive {
  0%   { margin-left:-800px; }
  3%   { margin-left:-800px; }
  12%  { margin-left:40px;  }
  15%  { margin-left:-30px;  }
  17%  { margin-left:5px;   }
  18%  { margin-left:-2px;   }
  19%  { margin-left:0px;    }
  100% { margin-left:0px;    }
}